<div style="background-color: blueviolet;padding-bottom: 195px;">
    <div class="main-div">
    <mat-card>
      <mat-card-header style="height: 200px;">
            <!-- Src image is temporary hosted in image.ibb-->
            <img
                src="assets/images/1517535342273.jpg"
              />
      </mat-card-header>
      <mat-card-header>
        <div style="text-align: center;padding-left: 50px;padding-right: 50px;color: grey;">
          <span>Enter your email address and We'll send you a  </span>
          <br>
            <span>New Password</span>
      </div>
      </mat-card-header>
      <mat-card-content style="margin-top: 30px;">
        <form [formGroup]="forgotPasswordForm">
          <label>Email</label>
          <div style="padding-top: 5px;padding-bottom: 8px;">
          <mat-form-field appearance="outline" [style.width.px]=400>
            <input matInput placeholder="Enter Email" formControlName="Email">
          </mat-form-field>
          </div>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <div style="margin-bottom: 20px;">
        <button type="submit" mat-raised-button [style.width.px]=400 style="background-color: blueviolet;" (click)="sendingPassword()">Submit</button>
        </div>
      </mat-card-actions>
    </mat-card>
    
    </div>
    <div style="text-align: center;margin-top: 0%;">
    <span style="color:#D6D5CB;">Back to </span>
    <a class="link" href="/login" style="text-decoration:none;">
      <b style="color: white;">Login</b>
    </a>
    </div>
    </div>


