<div style="background-color: blueviolet;padding-bottom: 195px;">
    <div class="main-div">
    <mat-card>
      <mat-card-header style="height: 200px;">
            <!-- Src image is temporary hosted in image.ibb-->
            <img
                src="assets/images/1517535342273.jpg"
              />
      </mat-card-header>
      <form [formGroup]="otpForm">
      <mat-card-content style="text-align: center;">
          <label>Enter OTP</label>
          <div style="padding-top: 5px;padding-bottom: 8px;">
            <ng-otp-input  (onInputChange)="onOtpChange($event)"  [config]="{length:6}"></ng-otp-input>
          </div>
      </mat-card-content>
      </form>
      <mat-card-actions>
        <div style="margin-bottom: 20px;">
        <button type="submit" mat-raised-button [style.width.px]=400 style="background-color: #4AB096;" (click)="otpSubmit()">Submit</button>
        </div>
      </mat-card-actions>
      <mat-card-actions>
        <div style="margin-bottom: 20px;padding-left: 153px;">
        <button type="submit" mat-raised-button style="background-color: blueviolet;">Resend OTP</button>
        </div>
      </mat-card-actions>
    </mat-card>
    
    </div>
    </div>



